@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    height: auto;
    height: 1000px;
}

#header-nav {
    background-color: gray;
    border-radius: 0px;
    border: 0px;
}

.navbar-brand {
    padding-top: 25px;
    padding-bottom: 10px;
}

.navbar-brand h1 { /* Restaurant name */
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px;
    line-height: .75;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }

  .container {
    margin: 0px;    
  }

  .navbar-toggle {
    background-color: white;
  }
main {
    background-color: white;
    padding: 15px;
    width: 90vw;
    margin: auto;
    margin-top: 10px;
}

section {
    background-color: rgb(181, 179, 179);
    margin: auto;   
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.558);
}
section > h2 {
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
}

section > p {
    text-align: justify;
    padding: 20px;
    text-indent: 30px;
    font-size: 1em;
    font-weight: bold;
    line-height: 2em;
    font-size: 1.2em;
}

footer {
    background-color:dimgrey;
    color: white;
    text-align: center;
    font-size: 1em;
    padding: 5px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
    color: blue;
}